.profile-main {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
  justify-content: center;
}
.profile-section {
  padding: 70px 70px;
  text-align: center;
  color: #464646;
}
.profile-icon {
  border: 1px solid #def5ec;
  background-color: #def5ec;
  height: 220px;
  width: 220px;
  border-radius: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.github-profile-btn {
  height: 35px;
  width: 200px;
  background-color: white;
  border: 1px solid #def5ec;
  border-radius: 5px;
  color: #0773ff;
  cursor: pointer;
}
.gists-list {
  margin-top: 70px;
  border-left: 1px solid #dddddd;
  padding: 0 0 0 30px;
  font-size: 15px;
  padding-bottom: 100px;
  width: 700px;
}
section ol {
  list-style: none;
  counter-reset: li;
  padding: 0 50px;
}

@media only screen and (max-width: 600px) {
  .profile-main {
    flex-direction: row;
    padding: 0 20px;
  }
  .profile-section {
    padding: 70px 20px;
  }
}

@media only screen and (min-width: 600px) {
  .profile-main {
    flex-direction: row;
    padding: 0 20px;
  }
  .profile-section {
    padding: 70px 20px;
  }
}

@media only screen and (min-width: 768px) {
  .profile-main {
    flex-direction: row;
    padding: 0 50px;
  }
  .profile-section {
    padding: 70px 50px;
  }
}

@media only screen and (min-width: 992px) {
  .profile-main {
    flex-direction: row;
    padding: 0 100px;
  }
  .profile-section {
    padding: 70px 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .profile-main {
    flex-direction: row;
    padding: 0;
  }
  .profile-section {
    padding: 70px 70px;
  }
}
