.gist-container {
  border: 1px solid#DDDDDD;
  box-shadow: -3px 5px 8px #dddddd, 3px 5px 8px #dddddd;
  border-radius: 5px;
  font-size: 14px;
  flex-wrap: wrap;
}
.gist-header {
  border-bottom: 1px solid #dddddd;
  padding: 7px 20px;
}
section ol {
  list-style: none;
  counter-reset: li;
  padding: 0 100px;
}

li {
  counter-increment: li;
  color: #464646;
}

li::before {
  content: counter(li);
  color: #cacaca;
  display: inline-block;
  width: 1em;
  margin-left: -2.5em;
  margin-right: 20px;
}
span input {
  height: 15px;
  width: 40px;
  border: 1px solid #969696;
  border-radius: 5px;
  color: #969696;
  margin: 0 8px;
  text-align: center;
}
.profile-header {
  margin-left: 25px;
  border: 1px solid #def5ec;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gist-main {
  padding: 0 270px;
  font-size: 15px;
  margin-bottom: 50px;
}
.gist-nav {
  display: flex;
  flex-direction: row;
  padding: 50px 0 20px;
  justify-content: space-between;
}
.gist-profile {
  margin-right: 20px;
  border: 1px solid #def5ec;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gist-profile-info {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.gist-actions {
  color: #0773ff;
}

@media only screen and (max-width: 600px) {
  .profile-header {
    margin-left: 15px;
  }
  .gist-main {
    padding: 0 50px;
  }
  .gist-container {
    font-size: 12px;
  }
  .gist-nav {
    flex-direction: column;
  }
  span input {
    width: 40px;
  }
  .gist-actions {
    margin: 10px 0 0 10px;
  }
}

@media only screen and (min-width: 600px) {
  .profile-header {
    margin-left: 15px;
  }
  .gist-main {
    padding: 0 100px;
  }
  .gist-container {
    font-size: 12px;
  }
  .gist-nav {
    flex-direction: column;
  }
  span input {
    width: 40px;
  }
  .gist-actions {
    margin: 10px 0 0 10px;
  }
}

@media only screen and (min-width: 768px) {
  .profile-header {
    margin-left: 20px;
  }
  .gist-main {
    padding: 0 150px;
  }
  .gist-container {
    font-size: 14px;
  }
  .gist-nav {
    flex-direction: column;
  }
  span input {
    width: 40px;
  }
  .gist-actions {
    margin: 10px 0 0 10px;
  }
}

@media only screen and (min-width: 992px) {
  .profile-header {
    margin-left: 25px;
  }
  .gist-main {
    padding: 0 200px;
  }
  .gist-container {
    font-size: 14px;
  }
  .gist-nav {
    flex-direction: row;
  }
  span input {
    width: 40px;
  }
  .gist-actions {
    margin: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .profile-header {
    margin-left: 25px;
  }
  .gist-main {
    padding: 0 240px;
  }
  .gist-container {
    font-size: 14px;
  }
  .gist-nav {
    flex-direction: row;
  }
  span input {
    width: 40px;
  }
  .gist-actions {
    margin: 0;
  }
}
